body {
    color: #495961;
    background: #ffffdd;
    font-family: helvetica,arial,freesans,clean,sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4 {
    font-weight: normal;
    border-bottom: 1px solid #DDD;
}

a {
    color: #00B4F0;
}

#navigation, #text_wrapper, #footer {
    width: 600px;
    margin: 0px auto 0px auto;
}

#navigation {
    font-size: 16px;
    line-height: 2.0;
}

div#nav_wrapper {
    text-align: left;
    background: #f4f4f4;
    border-bottom: 1px solid #DDD;
}

#nav_wrapper h1 {
    display:none
}

div#navigation {
    background: url(../images/lambda.svg) no-repeat 0px 3px;
    background-size: 20px;
}

div#navigation a, div#footer a {
    text-decoration: none;
    padding: 3px 0px;
    margin: 0px 0px 0px 30px;
}

div#text_wrapper {
    font-size: 14px;
    line-height: 1.6;
}

pre {
    padding: 15px;
    border: 1px solid #DDD;
    overflow: auto;
    background: #fff;
}

div#footer a {
    margin: 0px;
}

div#footer {
    padding: 5px 0 0 0;
    border-top: 1px solid #DDD;
    font-size: 10px;
}
