<!DOCTYPE>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>$title$ :: Pixeldrama</title>
        <link rel="stylesheet" type="text/css" href="/css/default.css" />
    </head>
    <body>
        <h1><a href="/">Pixeldrama<a></h1>
        <div id="navigation">
            <a href="/index.html">Home</a>
            <a href="/blog.html">Blog</a>
            <a href="/about.html">About</a>
        </div>
        $body$
    </body>
</html>
