<!DOCTYPE>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>$title$ :: Pixeldrama</title>
        <link rel="shortcut icon" href="images/favicon.png" />
        <link rel="icon" href="images/favicon.png" />
        <link rel="stylesheet" type="text/css" href="/css/default.css" />
    </head>
    <body>
        <div id="nav_wrapper">
          <h1><a href="/">Pixeldrama<a></h1>
          <div id="navigation">
            <a href="/index.html">home</a>
            <a href="/blog.html">blog</a>
            <a href="/about.html">about</a>
          </div>
        </div>
        <div id="text_wrapper">
          $body$
        </div>
        <div id="footer">
          <a href="impressum.html">impressum</a> | Site proudly
          generated
          by <a href="http://jaspervdj.be/hakyll/">hakyll</a>
        </div>
    </body>
</html>
